<%- include ../partials/header.ejs %>
    <form action="/post/update/<%= id %>" method="post">
        <input type="text" name="title" value="<%= post.title %>">
        <textarea name="content"><%= post.content %></textarea>
        <button type="submit">Modifier</button>
    </form>
    <a href="/">Retourner à l'accueil</a>

    <%- include ../partials/footer.ejs %>