<%- include ../partials/header.ejs %>
    <h2 class="card-title">
        <%= post.title %>
    </h2>
    <p class="card-text">
        <%= post.content %>
    </p>
    <h3>Commentaires</h3>
    <div>
        <ul class="list-group">
            <% post.comments.forEach(function(comment, index){%>
                <li class="list-group-item">
                    <blockquote class="blockquote">
                        <p class="mb-0">
                            <%= comment.content %>
                        </p>
                        <footer class="blockquote-footer">écrit par
                            <cite>
                                <%= comment.author %>
                            </cite>
                        </footer>
                    </blockquote>
                </li>
                <% }) %>
        </ul>
        <form action="/comment/create/<%=id%>" method="POST">
            <input type="text" name="content">
            <button type="submit" class="btn btn-primary">Soumettre</button>
        </form>
    </div>
    <a href="/post/edit/<%=id %>">
        <i class="fas fa-pencil-alt"></i>
    </a>
    <a href="/post/delete/<%=id %>">
        <i class="fas fa-trash-alt"></i>
    </a>
    <a href="/">
        <i class="fas fa-home"></i>
    </a>
    <%- include ../partials/footer.ejs %>